stages:
  - build
  - deploy

build-job:
  stage: build
  script:
    - docker build --network=host -t discord_music_bot .
  only:
    - main

deploy-job:
  stage: deploy
  image: docker:24.0.2
  variables:
    DOCKER_HOST: unix:///var/run/docker.sock
  script:
    - docker info
    - docker compose up -d
  only:
    - main